# OS/filesystem
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenvs
.env
.venv
env/
venv/

# Checkpoints/logs
*.log
.ipynb_checkpoints/

# Large/temporary training artifacts (keep your best .tflite by not ignoring it)
# *.tflite   <-- do NOT enable this since you want the best model tracked
